 /* .container{
  position: absolute;
  top: 55px;

  margin-left: 1px;
  height: 615px;
  width: 475px;
  background-color:floralwhite;
} */
/* mat-list{
  width: 50%;
  height: 80%;
} */
 mat-list-item{
  width: 100%;
  cursor: pointer;
}
/*mat-divider{
  position: absolute;
  width: 100%;
} */
#t{
  position: absolute;
  width: 300px;
  height: 620px;
}
