


<!-- <div *ngIf="!IsNoteSelected; ngIfElse '[(ngModel)]=selectedNotes'"
> -->
<div>
  <textarea *ngIf="IsNoteNotSelected else IsNoteSelected"
   id="t"
  [(ngModel)]="newNote"

 (ngModelChange)="addNewNote(newNote)"
 ></textarea>
</div>

 <ng-template #IsNoteSelected >
<div>{{selectedNotes}}</div>
 </ng-template>
<!-- </div> -->
<!-- <button (click)="showSelectedNote()">submit</button> -->
  <!-- <textarea name= 'text' id="t" [(ngModel)]='selectedNotes' #selectedNote></textarea> -->
<!-- <p>{{selectedNotes}}</p> -->
      <!-- <app-notes ></app-notes> -->

       <!-- <input name= 'text' id="t" [(ngModel)]="newNote"
      (ngModelChange)="addNewNote(newNote)"
      value="{{newNote}}">
        <button (click)="showSelectedNote()">submit</button> -->

    <!-- <p>{{selectedNotes}}</p> -->
          <!-- <app-notes ></app-notes> -->
